{% extends 'admin/base.html.twig' %}

{% block title %}City index{% endblock %}

{% block body_admin %}
    <h2>Cities</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Activated</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for city in cities %}
            <tr>
                <td>{{ city.id }}</td>
                <td>{{ city.name }}</td>
                <td>{{ city.latitude }}</td>
                <td>{{ city.longitude }}</td>
                <td>{{ city.activated ? 'Yes' : 'No' }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('admin_city_show', {'id': city.id}) }}">show</a>
                    <a class="btn btn-primary" href="{{ path('admin_city_edit', {'id': city.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('admin_city_new') }}">Create new</a>
{% endblock %}